<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>changement d'horaires</title>
</head>
<body>
    <h1>Ici on change les horaires</h1>
    <main>
        <section>
          <form   action="admin/zman-chol" method="POST">
          <!-- <form id="submitChol"> -->
            <fieldset>
              <legend>זמנים של חול</legend>
              <div class="zman shaharit">
                <input type="time" id="zman_input" value="00:00" name="shacharitChol">
                <label for="zman_input">שחרית</label>
              </div><br>
              <div class="zman mincha">
                <input type="time" id="zman_input" value="00:00" name="minchaChol">
                <label for="zman_input">מנחה</label>
              </div><br>
              <div class="zman arvit">
                <input type="time" id="zman_input" value="00:00" name="arvitChol">
                <label for="zman_input">ערבית</label>
              </div><br>
              <div class="bouttonEtValidator">
                <input  id="submitChol" type="submit" value="SAUVEGARDER"/>
              </div>
            </fieldset> 
          </form>

          <form >
            <fieldset>
              <legend>זמנים של שבת</legend>
              <div class="zman shirAshirim">
                <input type="time" id="zman_input" value="00:00" name="shirAshirim">
                <label for="zman_input">שיר השירים</label>
              </div><br>
              <div class="zman mincha_erev">
                <input type="time" id="zman_input" value="00:00" name="minchaErevShbt">
                <label for="zman_input">מנחה ער״ש</label>
              </div><br>
              <div class="zman shaharit">
                <input type="time" id="zman_input" value="00:00" name="shaharitShbt">
                <label for="zman_input">שחרית</label>
              </div><br>
              <div class="zman mincha">
                <input type="time" id="zman_input" value="00:00" name="minchaShbt">
                <label for="zman_input">מנחה</label>
              </div><br>
              <input id="submitShabat"  type="submit" value="SAUVEGARDER"/>
            </fieldset> 
          </form>
        </section>
      </main>

      <form class="pdf" action="admin/pdf1" method="post" enctype="multipart/form-data">
      <!-- <form > -->
        <label for="image1">image1</label>
        <input type="file" name="avatar" />
        <input  type="submit" value="SAUVEGARDER"/>
        <input type="checkbox" name="image1" id="image1" value="true">
      </form>
      <form class="pdf" action="admin/pdf2" method="post" enctype="multipart/form-data">
        <label for="image2">image2</label>
        <input type="file" name="avatar" />
        <input  type="submit" value="SAUVEGARDER"/>
        <input type="checkbox" name="image2" id="image2" value="true">
      </form>
      <form class="pdf" action="admin/pdf3" method="post" enctype="multipart/form-data">
        <label for="image3">image3</label>
        <input type="file" name="avatar" />
        <input  type="submit" value="SAUVEGARDER"/>
        <input type="checkbox" name="image3" id="image3" value="true">
      </form>
      <form class="pdf" action="admin/pdf4" method="post" enctype="multipart/form-data">
        <label for="image4">image4</label>
        <input type="file" name="avatar" />
        <input  type="submit" value="SAUVEGARDER"/>
        <input type="checkbox" name="image4" id="image4" value="true">

      </form>

      <fieldset>
        <form id="formImg" >
          <label for="displayimg">Images à afficher</label><br>
          <label for="numberSec">Nombre de seconde d'interval entre les images</label>
          <input id="secInterval" type="number" min="2" max="15"><br>
          <input  type="submit" value="SAUVEGARDER"/>
        </form>  
      </fieldset>
      <script src="../public/myApp.js"></script>
</body>
</html>