<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style-frontend.css">
  <link rel="shortcut icon" href="../public/logo menouchat chalom coupe.png" type="image/png">
  <title>לוח זמנים - מנוחת שלום</title>
</head>

<body>
  <div class="zmanei ayom">
    <article class="item">
      <p class="horaire" id="shacharit">horaire</p>
      <p class="zman">שחרית</p>
    </article>
    <article class="item">
      <p class="horaire" id="mincha">horaire</p>
      <p class="zman">מנחה</p>
    </article>
    <article class="item">
      <p class="horaire" id="arvit">horaire</p>
      <p class="zman">ערבית</p>
    </article>
  </div>
  <div class="zmanei shabat">
    <article class="item">
      <p class="horaire" id="shirAshirim">horaire</p>
      <p class="zman shir">שיר השירים</p>
    </article>
    <article class="item">
      <p class="horaire" id="minchaErevShbt">horaire</p>
      <p class="zman">מנחה ע''ש</p>
    </article>
    <article class="item">
      <p class="horaire" id="shaharitShbt">horaire</p>
      <p class="zman">שחרית</p>
    </article>
    <article class="item">
      <p class="horaire" id="minchaShbt">horaire</p>
      <p class="zman">מנחה</p>
    </article>
    <article class="item">
      <p class="horaire" id="TzaisShabat">horaire</p>
      <p class="zman arv">ערבית</p>
    </article>
  </div>
  <div class="panneau gauche">
    <article class="item">
      <p class="horaire" id="daf">daf</p>
      <p class="zman daf">דף היומי</p>
    </article>
    <article class="item">
      <p class="horaire" id="ParashatAshavua">parasha</p>
      <p class="zman parashat">פרשת השבוע</p>
    </article>
    <article class="item">
      <p class="horaire" id="hadlaka">hadlaka</p>
      <p class="zman adlaka">הדלקת נרות</p>
    </article>
    <article class="item">
      <p class="horaire" id="Tzais72">Tzais72</p>
      <p class="zman tzais72">מוצ''ש ר''ת</p>
    </article>
  </div>
  <div class="panneau droit">
    <article class="item">
      <p style="visibility:hidden" class="horaire" id="dateFr">date</p>
      <p class="zman" id="dateH">DATE</p>
    </article>
    <article class="item">
      <p class="horaire" id="AlosHashachar">horaire</p>
      <p class="zman">עלות השחר</p>
    </article>
    <article class="item">
      <p class="horaire" id="Sunrise">horaire</p>
      <p class="zman">נץ החמה</p>
    </article>
    <article class="item">
      <p class="horaire" id="SofZmanShmaMGA">horaire</p>
      <p class="zman">ס''ז שמע מג''א</p>
    </article>
    <article class="item">
      <p class="horaire" id="SofZmanShmaGRA">horaire</p>
      <p class="zman">ס''ז שמע גר''א</p>
    </article>
    <article class="item">
      <p class="horaire" id="Chatzos">horaire</p>
      <p class="zman">חצות</p>
    </article>
    <article class="item">
      <p class="horaire" id="Sunset">horaire</p>
      <p class="zman">שקיעה</p>
    </article>
    <article class="item">
      <p class="horaire" id="Tzais">horaire</p>
      <p class="zman">צאת הכוכבים</p>
    </article>
  </div>
  <div class='box-img'>
  </div>
  <div class="montre">
    <img class="aiguille hor" src="../public/assets/aiguille heure finale.png" alt="aiguille">
    <img class="aiguille min" src="../public/assets/aiguille montre finale.png" alt="aiguille">
    <img class="aiguille boutton" src="../public/assets/boutton_metal.png" alt="boutton">
  </div>
</body>
<script src="../public/myApp-frontend.js"></script>

</html>