<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>changement d'horaires</title>
</head>
<body>
    <h1>Ici on change les horaires</h1>
    <main>
        <section>
          <form action="admin/zman-chol" method="POST">
            <fieldset>
              <legend>זמנים של חול</legend>
              <div class="zman shaharit">
                <input type="time" id="zman_input" value="00:00" name="shacharitChol">
                <label for="zman_input">שחרית</label>
              </div><br>
              <div class="zman mincha">
                <input type="time" id="zman_input" value="00:00" name="minchaChol">
                <label for="zman_input">מנחה</label>
              </div><br>
              <div class="zman arvit">
                <input type="time" id="zman_input" value="00:00" name="arvitChol">
                <label for="zman_input">ערבית</label>
              </div><br>
              <input  type="submit" value="SAUVEGARDER"/>
            </fieldset> 
          </form>

          <form action="admin/zman-shabat" method="POST">
            <fieldset>
              <legend>זמנים של שבת</legend>
              <div class="zman shirAshirim">
                <input type="time" id="zman_input" value="00:00" name="shirAshirim">
                <label for="zman_input">שיר השירים</label>
              </div><br>
              <div class="zman mincha_erev">
                <input type="time" id="zman_input" value="00:00" name="minchaErevShbt">
                <label for="zman_input">מנחה ער״ש</label>
              </div><br>
              <div class="zman shaharit">
                <input type="time" id="zman_input" value="00:00" name="shaharitShbt">
                <label for="zman_input">שחרית</label>
              </div><br>
              <div class="zman mincha">
                <input type="time" id="zman_input" value="00:00" name="minchaShbt">
                <label for="zman_input">מנחה</label>
              </div><br>
              <input id="valid"  type="submit" value="SAUVEGARDER"/><img id="valid" src="" alt="validateur">
            </fieldset> 
          </form>
        </section>
      </main>

      <!-- <iframe src="../files/pcr_noa.pdf" height="100%" width="100%"></iframe> -->

      <form class="pdf" action="admin/pdf" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <input  type="submit" value="SAUVEGARDER"/>
      </form>
      <script src="../public/myApp.js"></script>
</body>
</html>