html {
    text-align: center;
    display: flex;
    flex-direction: column;
}

body
{
    width: 120vh;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    border: 1px solid black;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

iframe
{
    margin-top: 10px;
}

legend 
{
    font-size: xx-large;
    color: blue;
}

.zman
{
    color: black;
    font-size: xx-large;
}

input[type=submit]
{
    background-color: red;
    padding: 5px;
    border-radius: 10px;
}

input[type=submit]:hover
{
    background-color: green;
    color: white;
}

.pdf
{
    margin-top: 20px;
}



img
{
    max-width: 100%;
    height: 30px;
}

fieldset
{
    margin-top: 10px;
}




/* LOADER 2 */

#loader-2 span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
  }
  
  #loader-2 span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
  }
  
  #loader-2 span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
  }
  
  #loader-2 span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  